.logo {
  padding: 25px;
}

.extra {
  background-image: url("../images/laundrybanner.jpg");
  background-size: 100%;
  background-color: #17234E;
}

#displayClient {
  padding: 25px;
  font-size: 15px;
}

#each {
  padding: 10px;
}
